@model Art 


<div class="card border-primary mb-3" style="max-width: 15rem; padding: 20px; margin: 20px; display:inline-grid">
    <a asp-controller="Art" asp-action="Details" asp-route-id="@Model.ArtId" class="nav-link" >
        <div class="card-header">
            <p>
                <b>@Model.Name</b>
            </p>
        </div>
    </a>
    
    
    <div class="card-body">
        <a asp-controller="Art" asp-action="Details" asp-route-id="@Model.ArtId">
            <img src="~/images/@Model.ImageURL" alt="@Model.Name" style=" width: 100%; display: block;">

        </a>
        <p class="card-text"><b>@Model.Artist</b> </p>
        <p class="card-text"> € @Model.PricePerMonth per maand</p>
        <p>
            <a 
               type="button" class="btn btn-outline-primary"
               asp-controller="Art" 
               asp-action="Details" 
               asp-route-id="@Model.ArtId">Details</a>
        </p>
    </div>
</div>

